#box-slider {
  width: 100%;
	height: 100%;
}
#box-slider .slider-image {
	width: 100%;
	height: 100%;
}

.box-banner {
	padding: 25px;
  border-radius: 15px 15px 15px 15px;
  background-color: black;
  text-align: center;
	color: #fff;
  width: 100%;
  height: 100%;
}
.box-banner .banner-image {
  margin-bottom: 24px;
	background-color: #39464f;
	color: #fff;
  width: 100%;
  
}
.box-banner .banner-title {
	margin-bottom: 20px;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}
.box-banner .banner-text {
	margin-bottom: 10px;
}